{block content}

	<div class="text-center">
		<h1>Vítejte v administraci</h1>
		<h2>Vaše oprávnění: {$groupName}</h2>
	</div>


{/block}
{block scripts}
{include parent}
{/block}

{block head}
{/block}
